{% extends "!layout.html" %}

{% block footer %}
    <div class="footer" role="contentinfo">
      <p>{% trans %}Copyright 2015. WeLive Project.{% endtrans %}</p>

      <div>
            <img src="{{ pathto('_static/' + 'welive-logo.png', 1) }}" alt="WeLive Logo" style="width:200px;margin-right:40%;vertical-align:middle;">
            <img src="{{ pathto('_static/' + 'flag_yellow_high.png', 1) }}" alt="EU Flag" style="width:120px;vertical-align:middle;">
      </div>
      <br>
      <p style="margin-left:20%">{% trans %}This project has received funding from the European Union’s Seventh Programme for research, technological development and demonstration under grant agreement No 645845.{% endtrans %}</p>
    </div>


{% endblock %}
